+++
title = "Keyple"
linkTitle = "Keyple"

+++

{{< blocks/cover title="Eclipse Keyple™, the first open source API for contactless ticketing and access control" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/What is Keyple" >}}">
		What is Eclipse Keyple <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/eclipse/keyple">
		Getting started <i class="fab fa-github ml-2 "></i>
	</a>
<!--	<p class="lead mt-5" color="dark"></p>
-->	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Keyple™ accelerates the integration and development of ticketing and access control applications by enabling all to implement systems based on a common, open and modular platform, while benefiting from Calypso®'s key features of reliability, security and interoperability.
{{% /blocks/lead %}}
 
 
{{% blocks/lead color="white" %}}

<h1 class="text-center"><b>Solutions</b></h1>
<div style="height:50px;display:block;"> </div>


<p><img src="Schema_WhatIsKeyple.png" alt="" width = "100%" height = "auto"></p>
{{% /blocks/lead %}}
{{% blocks/lead color="framboise" %}}

<h1 class="text-center">What's new? </h1>
	<ul class="list-unstyled mt-4">
	</ul>
	
	

{{% /blocks/lead %}}
{{% blocks/lead color="lightblue" %}}
<h1 class="text-center">Who uses Eclipse Keyple? </h1>
<div style="height:50px;display:block;"> </div>
<p><img src="ratp_smart_system_tr.png" alt="" width = "50%" height = "auto"><img src="sncf.jpg" alt="" width = "20%" height = "auto"></p>

{{% /blocks/lead %}}


{{% blocks/lead color="orange" %}}

<h1 class="text-center">Want to know more? </h1>
<div style="height:50px;display:block;"> </div>
To subscribe to the mailing list, click here
{{% /blocks/lead %}}

<!--{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">This is another section</h1>
</div>
{{< /blocks/section >}}
 -->

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="First Open Source project for ticketing!" %}}
The very first Open Source SDK & API for contactless ticketing and access control is now available as an Eclipse Project!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/eclipse/keyple" %}}
We do a [Pull Request](https://github.com/eclipse/keyple-java/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/calypsonet_asso" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}




<!--
{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/gohugoio/hugo" %}}
We do a [Pull Request](https://github.com/gohugoio/hugo/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}


<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
 -->
